{% extends 'layout.html' %}

{% block content %}
<!-- Section 1 -->
    <section class="py-2">
    <div class="container-fluid px-lg-5">
        <div class="row gx-lg-6">
            <!-- Section 1 - Left Panel -->
            <div class="col-md-3 p-3 pb-0">
                <div class="p-4 p-lg-5 bg-light rounded-3 shadow h-100">
                    <div class="pb-4">
                        <h4>Veri Kaynağı</h4><hr/>
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <form action="/" method="POST">
                        <div class="m-0 m-lg-0">
                            <label for="data-selection" class="mb-2">Veri Kaynağı Türü:</label>
                            <select id="data-selection" class="form-select mb-4" onchange="s1_checkSelection(this.value)" name="data_selection">
                                <option value="SQL" {% if data_selection == "SQL" %}selected{% endif %}>SQL</option>
                                <option value="Excel" {% if data_selection == "Excel" %}selected{% endif %}>Excel</option>
                            </select>
                            <div id="s1_file-path" style="display: none;">
                                <label for="file-input" class="mb-2">Dosya Yolu:</label>
                                <input type="file" id="file-input" class="form-control mb-4" accept=".xls,.xlsx">
                            </div>
                            <div id="s1_dropdowns">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="me-2 flex-fill">
                                        <label for="row-selection" class="mb-2">Satır:</label>
                                        <select id="row-selection" name="row_selection" class="form-select">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if row_selection == "1" %}selected{% endif %}>1</option>
                                            <option value="2" {% if row_selection == "2" %}selected{% endif %}>2</option>
                                            <option value="3" {% if row_selection == "3" %}selected{% endif %}>3</option>
                                            <option value="4" {% if row_selection == "4" %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                    <div class="ms-2 flex-fill">
                                        <label for="column-selection" class="mb-2">Sütun:</label>
                                        <select id="column-selection" name="column_selection" class="form-select">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if column_selection == "1" %}selected{% endif %}>1</option>
                                            <option value="2" {% if column_selection == "2" %}selected{% endif %}>2</option>
                                            <option value="3" {% if column_selection == "3" %}selected{% endif %}>3</option>
                                            <option value="4" {% if column_selection == "4" %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="x-axis">X Ekseni:</label>
                                    <select id="x-axis" name="x_axis" class="form-select mb-4">
                                        <option>Seçim Yapınız</option>
                                        {% for column in columns %}
                                            <option value="{{ column }}" {% if x_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="y-axis">Y Ekseni:</label>
                                    <select id="y-axis" name="y_axis" class="form-select mb-4">
                                        <option>Seçim Yapınız</option>
                                        {% for column in columns %}
                                            <option value="{{ column }}" {% if y_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button class="btn btn-primary">Grafiği Göster</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Section 1 - Right Panel -->
            <div class="col-md-9 p-3 pb-0">
                <div class="p-4 p-lg-5 bg-light rounded-3 shadow h-100">
                    <div class="pb-4">
                        <h4>Grafik</h4><hr/>
                    </div>
                    <div class="m-0 m-lg-0">
                      {{ graph|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Section 2 -->
    <section class="py-4">
    <div class="container-fluid px-lg-5">
        <div class="row gx-lg-6">
            <!-- Section 2 - Main Panel -->
            <div class="col-md-12 p-3 pb-0">
                <div class="p-4 p-lg-5 bg-light rounded-3 shadow h-100">
                    <div class="pb-4">
                        <h4>Train ve Test Dataset</h4><hr/>
                    </div>
                    <!-- Section 2 - Tab Navigation -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="train-tab" data-bs-toggle="tab" data-bs-target="#train" type="button" role="tab" aria-controls="train" aria-selected="true">Train Dataset</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab" aria-controls="test" aria-selected="false">Test Dataset</button>
                        </li>
                    </ul>
                    <!-- Section 2 - Tab Content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active" id="train" role="tabpanel" aria-labelledby="train-tab">
                            {{ train_graph|safe }}
                        </div>
                        <div class="tab-pane fade active" id="test" role="tabpanel" aria-labelledby="test-tab">
                            {{ test_graph|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Section 3 -->
    <section class="py-4">
    <div class="container-fluid px-lg-5">
        <div class="row gx-lg-6">
            <!-- Main Panel -->
            <div class="col-md-12 p-3 pb-0">
                <div class="p-4 p-lg-5 bg-light rounded-3 shadow h-100">
                    <h4>Data Visualization</h4><hr/>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="actualDataCheckbox" value="actual">
                        <label class="form-check-label" for="actualDataCheckbox">Actual Data</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="predictedDataCheckbox" value="predicted">
                        <label class="form-check-label" for="predictedDataCheckbox">Predicted Data</label>
                    </div>
                    <!-- Graph Container -->
                    <div id="graphContainer" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
