{% extends 'layout.html' %}

{% block container %}
    <!-- section 1 -->
    <section class="mt-2">
        <div class="container-fluid px-3 px-lg-5">
            <div class="row">
                <!-- left panel -->
                <div class="col-lg-2 col-md-4 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h5>Veri Kaynağı</h5><hr/>
                        </div>
                        <form action="/draw_graph" method="POST">
                            <label for="s1_data_selection" class="mb-2">Veri Kaynağı Türü:</label>
                            <select id="s1_data_selection" class="form-select mb-4" name="s1_data_selection">
                                <option value="SQL" {% if s1_data_selection == "SQL" %}selected{% endif %}>SQL</option>
                            </select>
                            <div id="s1_dropdowns">
                                <!-- row and column number selection -->
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="me-2 flex-fill">
                                        <label for="s1_row_selection" class="mb-2">Satır:</label>
                                        <select id="s1_row_selection" class="form-select" name="s1_row_selection">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if s1_row_selection == 1 %}selected{% endif %}>1</option>
                                            <option value="2" {% if s1_row_selection == 2 %}selected{% endif %}>2</option>
                                            <option value="3" {% if s1_row_selection == 3 %}selected{% endif %}>3</option>
                                            <option value="4" {% if s1_row_selection == 4 %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                    <div class="ms-2 flex-fill">
                                        <label for="s1_column_selection" class="mb-2">Sütun:</label>
                                        <select id="s1_column_selection" class="form-select" name="s1_column_selection">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if s1_column_selection == 1 %}selected{% endif %}>1</option>
                                            <option value="2" {% if s1_column_selection == 2 %}selected{% endif %}>2</option>
                                            <option value="3" {% if s1_column_selection == 3 %}selected{% endif %}>3</option>
                                            <option value="4" {% if s1_column_selection == 4 %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- X and Y axis selection -->
                                <div class="mb-4">
                                    <label for="s1_x_axis" class="mb-2">X Ekseni:</label>
                                    <select id="s1_x_axis" class="form-select" name="s1_x_axis">
                                        <option>Seçim Yapınız</option>
                                        {% for column in s1_columns %}
                                            <option value="{{ column }}" {% if s1_x_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="s1_y_axis" class="mb-2">Y Ekseni:</label>
                                    <select id="s1_y_axis" class="form-select" name="s1_y_axis">
                                        <option>Seçim Yapınız</option>
                                        {% for column in s1_columns %}
                                            <option value="{{ column }}" {% if s1_y_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="s1_plot_type" class="mb-2">Çizim Türü:</label>
                                    <select id="s1_plot_type" class="form-select" name="s1_plot_type">
                                        <option>Seçim Yapınız</option>
                                        <option value="scatter" {% if s1_plot_type == "scatter" %}selected{% endif %}>Scatter</option>
                                        <option value="bar" {% if s1_plot_type == "bar" %}selected{% endif %}>Bar</option>
                                        <option value="line" {% if s1_plot_type == "line" %}selected{% endif %}>Line</option>
                                        <option value="histogram" {% if s1_plot_type == "histogram" %}selected{% endif %}>Histogram</option>
                                    </select>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" id="s1_replace_graph" name="s1_replace_graph" {% if s1_replace_graph %}checked{% endif %}>
                                    <label class="form-check-label" for="s1_replace_graph">Değiştir</label>
                                </div>
                                <!-- error message -->
                                {% if s1_error_message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ s1_error_message }}
                                    </div>
                                {% endif %}
                                <!-- submit button -->
                                <div class="d-flex justify-content-center pt-2">
                                    <button class="btn btn-outline-primary" type="submit">Grafiği Göster</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- right panel -->
                <div class="col-lg-10 col-md-8 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="d-flex justify-content-between">
                            <h5>Grafik</h5>
                            <!-- reset button -->
                            <form action="/reset_graphs" method="POST">
                                <button class="btn btn-sm btn-outline-danger" type="submit">Sıfırla</button>
                            </form>
                        </div><hr/>
                        <!-- graphs -->
                        {% if s1_graphs %}
                            <div style="display: grid; grid-template-columns: repeat({{ s1_column_selection }}, 1fr); grid-gap: 10px;">
                                {% for graph in s1_graphs %}
                                    <div class="graph-cell">
                                        <iframe src="{{ url_for('static', filename=graph) }}" title="graph"></iframe>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 2 -->
    <section class="mt-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- main panel -->
                <div class="col-lg-12 col-md-12 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h5>Anomaly Tablosu</h5><hr/>
                        </div>
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="sticky-table">
                                    <tr>
                                        {% for col in s2_anomaly_columns %}
                                        <th><button class="sortable btn btn-link" data-column="{{ loop.index0 }}">{{ col }}</button></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    {% for row in s2_table_data %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 3 -->
    <section class="mt-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- left panel -->
                <div class="col-lg-2 col-md-3 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h5>Feature Seçimi</h5>
                            <hr/>
                        </div>
                        <div class="scrollable-checkboxes">
                            <!-- train checkboxes -->
                            <div id="train-checkboxes-section3">
                                {% for column in s3_columns_train %}
                                <div class="form-check">
                                    <input class="form-check-input s3_feature_checkbox" type="checkbox" value="{{ column }}"
                                           id="train_section3_{{ column }}">
                                    <label class="form-check-label" for="train_section3_{{ column }}">
                                        {{ column }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- test checkboxes -->
                            <div id="test-checkboxes-section3" style="display: none;">
                                {% for column in s3_columns_test %}
                                <div class="form-check">
                                    <input class="form-check-input s3_feature_checkbox" type="checkbox" value="{{ column }}"
                                           id="test_section3_{{ column }}">
                                    <label class="form-check-label" for="test_section3_{{ column }}">
                                        {{ column }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right panel -->
                <div class="col-lg-10 col-md-9 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="d-flex justify-content-between">
                            <h5>63 Feature için Test ve Train Veriseti</h5>
                            <!-- draw type menu -->
                            <div class="justify-content-end">
                                <div class="btn-group">
                                    <button id="selected-plot-type-button-section3" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Scatter
                                    </button>
                                    <ul class="dropdown-menu plot-type-dropdown-menu-section3">
                                        <li><button class="dropdown-item" type="button" data-plot-type-section3="scatter">Scatter</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section3="bar">Bar</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section3="line">Line</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section3="histogram">Histogram</button></li>
                                    </ul>
                                </div>
                                <!-- months dropdown menu -->
                                <div class="btn-group">
                                    <button id="selected-month-button-section3" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tüm Aylar
                                    </button>
                                    <ul class="dropdown-menu month-dropdown-menu-section3">
                                        <li><button class="dropdown-item" type="button" data-month-section3="all">Tüm Aylar</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="01">Ocak</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="02">Şubat</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="03">Mart</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="04">Nisan</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="05">Mayıs</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="06">Haziran</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="07">Temmuz</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="08">Ağustos</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="09">Eylül</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="10">Ekim</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="11">Kasım</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section3="12">Aralık</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <!-- tab navigation -->
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="train-tab-section3" type="button"
                                            role="tab" data-bs-toggle="tab" data-bs-target="#train-section3"
                                            aria-controls="train-section3" aria-selected="true">Train Dataset</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="test-tab-section3" type="button"
                                            role="tab" data-bs-toggle="tab" data-bs-target="#test-section3"
                                            aria-controls="test-section3" aria-selected="false">Test Dataset</button>
                                </li>
                            </ul>
                        </div>
                        <!-- tab content -->
                        <div class="tab-content border border-secondary-subtle">
                            <div class="tab-pane fade show active" id="train-section3" role="tabpanel" aria-labelledby="train-tab-section3">
                                <!-- train graph -->
                                <div id="train-graph-section3" class="tab-pane-inside"></div>
                            </div>
                            <div class="tab-pane fade" id="test-section3" role="tabpanel" aria-labelledby="test-tab-section3">
                                <!-- test graph -->
                                <div id="test-graph-section3" class="tab-pane-inside"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 4 -->
    <section class="mt-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- left panel -->
                <div class="col-lg-2 col-md-3 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h5>Feature Seçimi</h5>
                            <hr/>
                        </div>
                        <div class="scrollable-checkboxes">
                            <!-- train checkboxes -->
                            <div id="train-checkboxes-section4">
                                {% for column in s4_columns_train %}
                                <div class="form-check">
                                    <input class="form-check-input s4_feature_checkbox" type="checkbox" value="{{ column }}"
                                           id="train_section4_{{ column }}">
                                    <label class="form-check-label" for="train_section4_{{ column }}">
                                        {{ column }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- test checkboxes -->
                            <div id="test-checkboxes-section4" style="display: none;">
                                {% for column in s4_columns_test %}
                                <div class="form-check">
                                    <input class="form-check-input s4_feature_checkbox" type="checkbox" value="{{ column }}"
                                           id="test_section4_{{ column }}">
                                    <label class="form-check-label" for="test_section4_{{ column }}">
                                        {{ column }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right panel -->
                <div class="col-lg-10 col-md-9 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="d-flex justify-content-between">
                            <h5>Actual ve Prediction Değerleri</h5>
                            <!-- draw type menu -->
                            <div class="justify-content-end">
                                <div class="btn-group">
                                    <button id="selected-plot-type-button-section4" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Scatter
                                    </button>
                                    <ul class="dropdown-menu plot-type-dropdown-menu-section4">
                                        <li><button class="dropdown-item" type="button" data-plot-type-section4="scatter">Scatter</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section4="bar">Bar</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section4="line">Line</button></li>
                                        <li><button class="dropdown-item" type="button" data-plot-type-section4="histogram">Histogram</button></li>
                                    </ul>
                                </div>
                                <!-- months dropdown menu -->
                                <div class="btn-group">
                                    <button id="selected-month-button-section4" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tüm Aylar
                                    </button>
                                    <ul class="dropdown-menu month-dropdown-menu-section4">
                                        <li><button class="dropdown-item" type="button" data-month-section4="all">Tüm Aylar</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="01">Ocak</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="02">Şubat</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="03">Mart</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="04">Nisan</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="05">Mayıs</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="06">Haziran</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="07">Temmuz</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="08">Ağustos</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="09">Eylül</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="10">Ekim</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="11">Kasım</button></li>
                                        <li><button class="dropdown-item" type="button" data-month-section4="12">Aralık</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div><hr/>
                        <!-- tab navigation -->
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="train-tab-section4" type="button"
                                            role="tab" data-bs-toggle="tab" data-bs-target="#train-section4"
                                            aria-controls="train-section4" aria-selected="true">Train Dataset</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="test-tab-section4" type="button"
                                            role="tab" data-bs-toggle="tab" data-bs-target="#test-section4"
                                            aria-controls="test-section4" aria-selected="false">Test Dataset</button>
                                </li>
                            </ul>
                        </div>
                        <!-- tab content -->
                        <div class="tab-content border border-secondary-subtle">
                            <div class="tab-pane fade show active" id="train-section4" role="tabpanel" aria-labelledby="train-tab-section4">
                                <!-- train graph -->
                                <div id="train-graph-section4" class="tab-pane-inside"></div>
                            </div>
                            <div class="tab-pane fade" id="test-section4" role="tabpanel" aria-labelledby="test-tab-section4">
                                <!-- test graph -->
                                <div id="test-graph-section4" class="tab-pane-inside"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock container %}