{% extends 'layout.html' %}

{% block container %}
<!-- section 1 -->
    <section class="py-2">
        <div class="container-fluid px-3 px-lg-5">
            <div class="row">
                <!-- left panel -->
                <div class="col-md-3 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h4>Veri Kaynağı</h4><hr/>
                        </div>
                        <form action="/draw_graph" method="POST">
                            <label for="s1_data_selection" class="mb-2">Veri Kaynağı Türü:</label>
                            <select id="s1_data_selection" class="form-select mb-4" name="s1_data_selection">
                                <option value="SQL" {% if data_selection == "SQL" %}selected{% endif %}>SQL</option>
{#                              <option value="Excel" {% if data_selection == "Excel" %}selected{% endif %}>Excel</option>#}
                            </select>
{#                            <div id="s1_file-path" style="display: none;">#}
{#                                <label for="file-input" class="mb-2">Dosya Yolu:</label>#}
{#                                <input type="file" id="file-input" class="form-control mb-4" accept=".xls,.xlsx">#}
{#                            </div>#}
                            <div id="s1_dropdowns">
                                <!-- row and column number selection -->
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="me-2 flex-fill">
                                        <label for="s1_row_selection" class="mb-2">Satır:</label>
                                        <select id="s1_row_selection" class="form-select" name="s1_row_selection">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if s1_row_selection == "1" %}selected{% endif %}>1</option>
                                            <option value="2" {% if s1_row_selection == "2" %}selected{% endif %}>2</option>
                                            <option value="3" {% if s1_row_selection == "3" %}selected{% endif %}>3</option>
                                            <option value="4" {% if s1_row_selection == "4" %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                    <div class="ms-2 flex-fill">
                                        <label for="s1_column_selection" class="mb-2">Sütun:</label>
                                        <select id="s1_column_selection" class="form-select" name="s1_column_selection">
                                            <option>Seçim Yapınız</option>
                                            <option value="1" {% if s1_column_selection == "1" %}selected{% endif %}>1</option>
                                            <option value="2" {% if s1_column_selection == "2" %}selected{% endif %}>2</option>
                                            <option value="3" {% if s1_column_selection == "3" %}selected{% endif %}>3</option>
                                            <option value="4" {% if s1_column_selection == "4" %}selected{% endif %}>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- X and Y axis selection -->
                                <div class="mb-4">
                                    <label for="s1_x_axis" class="mb-2">X Ekseni:</label>
                                    <select id="s1_x_axis" class="form-select" name="s1_x_axis">
                                        <option>Seçim Yapınız</option>
                                        {% for column in s1_columns %}
                                            <option value="{{ column }}" {% if s1_x_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="s1_y_axis" class="mb-2">Y Ekseni:</label>
                                    <select id="s1_y_axis" class="form-select" name="s1_y_axis">
                                        <option>Seçim Yapınız</option>
                                        {% for column in s1_columns %}
                                            <option value="{{ column }}" {% if s1_y_axis == column %}selected{% endif %}>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- error message -->
                                {% if s1_error_message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ s1_error_message }}
                                    </div>
                                {% endif %}
                                <!-- submit button -->
                                <div class="d-flex justify-content-center pt-2">
                                    <button class="btn btn-outline-primary" type="submit">Grafiği Göster</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- right panel -->
                <div class="col-md-9 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="d-flex justify-content-between">
                            <h4>Grafik</h4>
                            <!-- reset button -->
                            <form action="/reset_graphs" method="POST">
                                <button class="btn btn-outline-danger" type="submit">Sıfırla</button>
                            </form>
                        </div><hr/>
                        <!-- graphs -->
                        {% if s1_graphs %}
                            <div style="display: grid;
                                    grid-template-columns: repeat({{ s1_column_selection|int }}, 1fr); grid-gap: 10px;">
                                {% for graph in s1_graphs %}
                                    <div class="graph-cell">
                                        <iframe src="{{ url_for('static', filename=graph) }}" title="graph"></iframe>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 2 -->
    <section class="py-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- main panel -->
                <div class="col-md-12 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h4>Anomaly Tablosu</h4><hr/>
                        </div>
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        {% for col in s2_anomaly_columns %}
                                        <th>{{ col }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in s2_table_data %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 3 -->
    <section class="py-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- main panel -->
                <div class="col-md-12 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <div class="pb-4">
                            <h4>Train ve Test Veriseti</h4><hr/>
                        </div>
                        <!-- tab navigation -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="train-tab" data-bs-toggle="tab"
                                        data-bs-target="#train" type="button" role="tab" aria-controls="train"
                                        aria-selected="true">Train Dataset</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="test-tab" data-bs-toggle="tab"
                                        data-bs-target="#test" type="button" role="tab" aria-controls="test"
                                        aria-selected="false">Test Dataset</button>
                            </li>
                        </ul>
                        <!-- tab content -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="train" role="tabpanel" aria-labelledby="train-tab">
                            </div>
                            <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section 4 -->
    <section class="py-4">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <!-- main panel -->
                <div class="col-md-12 p-3 pb-0">
                    <div class="p-4 p-lg-5 bg-light rounded-4 shadow h-100">
                        <h4>Actual and Predicted Values</h4><hr/>
                        <!-- checkboxes -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="actualDataCheckbox" name="dataChoice" value="actual">
                            <label class="form-check-label" for="actualDataCheckbox">Actual Data</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="predictedDataCheckbox" name="dataChoice" value="predicted">
                            <label class="form-check-label" for="predictedDataCheckbox">Predicted Data</label>
                        </div>
                        <!-- graph -->
                        <div id="graphContainer" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}
